language: python
python:
  - 2.6

install:
  - $(which echo) -e "[buildout]\nextends = buildout.d/travis.cfg" > buildout.cfg
  - python bootstrap.py
  - bin/buildout

script:
  - ./pre-commit-check.sh
 
notifications:
  irc:
    - "irc.freenode.org#syslabcom"
sudo: false
